@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>*@


<div class="hero-image">
    <div class="hero-text">
        <h1>Welcome</h1>
        <p>to the candle creator</p>
        <button><a href="/Candle/InsertCandle/">Create a Candle</a></button>
    </div>
</div>